services:
  api:
    build: .
    container_name: mingle-api
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/mingle-db
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mingle-mongo
    restart: always
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

